/*******************************
        Import Directives
*******************************/

/*--------------------
   Site Variables
---------------------*/

/* Default site.variables */
@import "site.variables.less";


/*-------------------
 Component Variables
---------------------*/

/* Default */
@import "theme/@{type}s/@{element}.variables.less";


/*******************************
             Mix-ins
*******************************/

/*------------------
       Fonts
-------------------*/

.loadFonts() when (@importGoogleFonts) {
  @import url('@{googleProtocol}fonts.googleapis.com/css?family=@{googleFontRequest}');
}

/*------------------
     Overrides
-------------------*/

.loadUIOverrides() {
  @import (optional) "theme/@{type}s/@{element}.overrides.less";
}
