<div class="mainContent">
  <div class="mainContent-graphic"></div>
  <div class="container mainContent-content">
    <div class="headline">即將發生</div>
    <div class="mediaItems">
      <div class="mediaItem alignCenter mediaItem_Event">
        <div class="mediaItem-left">
          <div class="flexCenter">
            <div class="flexColCenter">
              <div class="headDisplay1 fitted headDisplay1_Date">21</div>
              <div class="flexCenter">
                10月
                <div class="ui circular small label label_Week ml6">二</div>
              </div>
            </div>
          </div>
        </div>
        <div class="mediaItem-right mw450">
          <div class="subhead2 fitted theme">「天子公民-末代皇帝溥儀」、海防博物館常設展及古蹟徑特別</div>
          <div class="timeInfo"><i class="icon Clock top2 ph6"></i> 17:00 - 19:00</div>
        </div>
        <div class="mediaItem-right noShrink">
          <img src="../images/event-dummy.png" alt="" class="ui image medium bordered">
        </div>
      </div>
      <div class="mediaItem alignCenter mediaItem_Event">
        <div class="mediaItem-left">
          <div class="flexCenter">
            <div class="flexColCenter">
              <div class="headDisplay1 fitted headDisplay1_Date">29</div>
              <div class="flexCenter">
                11月
                <div class="ui circular small label label_Week ml6">二</div>
              </div>
            </div>
          </div>
        </div>
        <div class="mediaItem-right mw450 flex1">
          <div class="subhead2 fitted theme">10月讀書會主題：歷史·遊記</div>
          <div class="timeInfo"><i class="icon Clock top2 ph6"></i> 17:00 - 19:00</div>
        </div>
        <div class="mediaItem-right noShrink">
          <img src="../images/event-dummy.png" alt="" class="ui image medium bordered">
        </div>
      </div>
    </div>
  </div>

</div>
