<div class="mainContent">
  <div class="mainContent-graphic"></div>
  <div class="container mw650">
    <div class="body1 theme f-paper f-box relaxed rounded pt0">
      <div class="flexCenter">
        <img src="../images/empower-logo.png" alt="" class="ui image w300">
      </div>
      <p>Empower由一群懷抱夢想與理想，追求不平凡人生的平凡人組成。</p>
      <p>如馬雲所說，夢想，每個人年輕的時候都有過，需要以堅持與行動來澆灌；理想，是一批人共同堅定一件事，有思想有計劃有行動，一步步變成現實。</p>
      <p>在追尋夢想與理想的過程中，需要走出安舒區，不斷提升自己。Empower致力融匯各方智慧，透過組織名人飯局、讀書會、藝術與歷史文化展覽導賞等活動，舉辦營養健美等課程，由內而外增進知識與見識，豐富涵養與素養，全面提升身心靈健康，讓我們成為更好的自己，Empower Ourselves！</p>
      <p>在結伴同行的路上，「Empower人」冀以生命影響生命，點燃彼此的生命活力，並以仁愛之心貢獻社會，愛澤承傳，Empower our Community，Empower the World！</p>
    </div>
  </div>
</div>
