<div class="mainContent">
  <div class="mainContent-graphic"></div>
  <div class="container mainContent-content mw850">
    <div class="mediaItem mediaItem_Member">
      <div class="mediaItem-left">
        <img src="../images/melissa.jpeg" alt="" class="ui image medium circular bordered">
      </div>
      <div class="mediaItem-right pt10">
        <div class="subhead2 theme">Melissa Wong</div>
        <div class="body2">
          <p>自小熱愛與文字打交道，視書本為最好的朋友。不但因為書中自有黃金屋，更由於書本是最堂皇的避世工具。</p>
          <p>因緣際會到日本留居一年，學會獨立生活，亦學習與不同國家及背景的人士相處。輾轉進入媒體與直銷界別，走進人群，開始發現人的可愛; 幾年下來，收穫了一群良師益友，令人生平添姿彩。</p>
          <p>期待透過 Empower 平台，與更多有心人相遇相知，相互扶持，一同經歷，一同成長，活出愛。</p>
        </div>
      </div>
    </div>
    <div class="mediaItem">
      <div class="mediaItem-left">
        <img src="../images/joyce.jpeg" alt="" class="ui image medium circular bordered">
      </div>
      <div class="mediaItem-right pt10">
        <div class="subhead2 theme">Joyce Wong</div>
        <div class="body2">
          <p>熱愛自由，不受束縛，不甘於每天定時定點沉悶工作，毅然辭工創業，賣攝影配件亦開網店賣波鞋。</p>
          <p>千里之行，始於足下，喜歡帶著相機背包自由行，用雙眼雙腿感受世界。走訪人煙稀渺之地，感受藏民之純樸、在草原騎馬奔馳的痛快！</p>
          <p>人生重要的不是所站的位置，而是所朝的方向。願在Empower群體，不只賦予自己豐盛的人生，更希望身邊人也獲得Empower，活出專屬自己的人生方程式。</p>
        </div>
      </div>
    </div>
    <div class="mediaItem">
      <div class="mediaItem-left">
        <img src="../images/joyce.jpeg" alt="" class="ui image medium circular bordered">
      </div>
      <div class="mediaItem-right pt10">
        <div class="subhead2 theme">Joyce Wong</div>
        <div class="body2">
          <p>熱愛自由，不受束縛，不甘於每天定時定點沉悶工作，毅然辭工創業，賣攝影配件亦開網店賣波鞋。</p>
          <p>千里之行，始於足下，喜歡帶著相機背包自由行，用雙眼雙腿感受世界。走訪人煙稀渺之地，感受藏民之純樸、在草原騎馬奔馳的痛快！</p>
          <p>人生重要的不是所站的位置，而是所朝的方向。願在Empower群體，不只賦予自己豐盛的人生，更希望身邊人也獲得Empower，活出專屬自己的人生方程式。</p>
        </div>
      </div>
    </div>
  </div>
</div>
